@charset "UTF-8";


/* 文字字体，字号，颜色 */
/* 背景色，长宽，其他 */


.top-brand-bar{
    /* 悬浮 */
    position: fixed; /* 固定导航栏位置 */
    top: 0; /* 将导航栏固定在页面顶部 */

    height: 20px;  
    width: 100%;
    padding: 5px; /* 设置导航栏内边距*/

    z-index: 1000; /* 设置导航栏的层级，确保它在其他元素之上 */
    background-color: #fff;
	margin: 0 auto;
}

.top-brand-column{
    /* 悬浮 */
    position: absolute; 
    left: 20%;
    right: 20%;

    background-color: #fff;
    z-index: 1001; /* 设置导航栏的层级，确保它在其他元素之上 */
}

.top-brand-text{
    font-family: Stanford,"Source Serif Pro",Georgia,Times,Times New Roman,serif;
    font-size: 20px;
    text-decoration: none; /* 去除下划线， 去除装饰*/
    color: #8c1515;

    -webkit-font-smoothing: antialiased;  /* 启用 Webkit 渲染引擎的抗锯齿效果 */
    -moz-osx-font-smoothing: auto;        /*启用 Mozilla 渲染引擎的抗锯齿效果 */
}

.navbar {
    position: fixed; /* 固定导航栏位置 */
    top: 30px; /*top-bar height+2*padding */
    left: 0px;

    height: 30px; 
    width: 100%; /* 设置导航栏宽度为100% */
    padding: 10px; /* 设置导航栏内边距*/

    background-color: #172e5c; /* 设置导航栏背景颜色 */
    color: #fff; /* 设置导航栏文字颜色 */
    z-index: 1000; /* 设置导航栏的层级，确保它在其他元素之上 */
}

.navbar-column {
    position: absolute; 
    top: 10px;
    left: 20%;
    right: 20%;

    display: flex;
    justify-content: flex-end;
    align-items: center; /* 垂直居中对齐 */
}

/* 图片容器样式，将 margin-right 设置为 auto 以推到左边 */
.navbar-logo{
    margin-right: auto;
}

.navbar-text {
    text-decoration: none;
    color: #fff; /* 设置链接颜色 */
    margin-left: 30px; /* 为了添加一些间距，可以根据需要调整 */
    font-family: Circular Std,Source Sans Pro,sans-serif;
    font-weight: 600;
    text-shadow: 0 1px 7px rgba(0,0,0,.4);
}



/* main */

.topdown-main{
    margin-top: 80px;
}


/* footer */

.footer-primary{
    background-color: #172e5c;

}
.footer-secondary{

    height: 90px;
    background-color: #2e2d29;
    color: #fff;
}

.footer-secondary-column{
    position: absolute; 
    left: 20%;
    right: 20%;
}

.footer-secondary-text{
    color: rgba(154, 154, 154);
    text-decoration: none; /* 去除下划线， 去除装饰*/
}

.footer-secondary-url{
    color: #fff;
    text-decoration: none; /* 去除下划线， 去除装饰*/
}




