@charset "UTF-8";


/* 文字字体，字号，颜色 */
/* 背景色，长宽，其他 */

.publications-column{
    text-align: left;
    padding: 1em calc(50% - 520px);
    color: rgb(63, 63, 63);
    background-color: rgb(251, 251, 251);
   
}

.publications-column .img_url{
    width: 100%;
}

.full4footer{
    min-height: calc(100vh - 160px); /* 保证 body 至少占满视口高度 */
    position: relative;
    /* height: 100vh; */
}

.publications-column h1{
    text-align: center;
    font-weight: 400;
    font-size: x-large;
}

.people-group{
    display: flex;
    flex-wrap: wrap;
}

.paper-bar{
    padding: 0 calc(40% - 350px) 0em ;
    /* height: 15em; */
    /* border: 1px solid rgb(218, 235, 243); */
    margin: 0em 0;
}

.paper-card{
    padding: 2em;
    /* height: 8em; */
    color: rgb(146, 157, 192);
    border: 1px solid rgb(218, 235, 243);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 10px 0 rgba(46,45,41,.1);
}

.paper-card .icons{
    text-decoration: underline;
    
}

/* .paper-card .icons .feather-text{
   top: 2px; 
} */

/* .paper-card .icons img{
    filter: grayscale(50%);
    background-color: #ff0000; /* 替换为你想要的颜色
} */

.monochrome-img {
    filter: url('#monochrome');
  }

.paper-title{
    margin-top: 0;
    font-size: 1.25rem;
    line-height: 1.3;
    font-weight: bold;
    font-family: "DINPro",helvetica,arial,sans-serif;
    color: black;
}

.paper-FirstAuthor{
    font-weight: bold;

}

.paper-ConfJournal{
    margin-top: 0.5em;
}

.paper-multimedia{
    margin-top: 0.5em;
    font-size: 1em;
}

.paper-multimedia a{
    color: rgb(114, 155, 191);
    margin-right: 10px;
}

 /* 太酷了 */

 /* linear-gradient 用于创建水平的渐变背景，然后通过 -webkit-background-clip: text; 和 color: transparent; 将背景应用到文本上，从而实现了文字颜色的渐变效果。 */
.gradient-text {
    background: linear-gradient(to right, #ff00ff, #00ffff);
    -webkit-background-clip: text;
    color: transparent;
  }
  
.radial-gradient-text {
    background: radial-gradient(circle, #ff0000, #00ff00, #2600ff);
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes rainbow {
    0% { color: #ff0000; }
    20% { color: #ff7f00; }
    40% { color: #ffff00; }
    60% { color: #00ff00; }
    80% { color: #0000ff; }
    100% { color: #ff00ff; }
}

@keyframes rainbow2 {
    0% { color: #a70404; }
    20% { color: #a55505; }
    80% { color: #8801a3; }
    100% { color: #a504a5; }
}

.rainbow-text {
    animation: rainbow2 5s infinite; /* 持续时间为 5 秒，无限循环 */
}
  

/* teams */
.tab-card{
    margin-left: 2em;
}