{{ define "main" }}
<div class="topdown-main">

<!-- Lab News -->
<section class="panel-fog"> 
	<header>
		<h2 class="section-title">Lab News</h2>
		<p class="section-subtitle">Stories about people, research, and innovation across the Farm</p>
	</header>
	<section class="panel-fog"> 
		<div class="six-grids">

		<!-- manual select first one -->
		{{ range .Data.Pages }}
			{{ if eq .Params.selectedInFirstPage 1 }}
			<article class="first-grid">
				<div class = "first-grid-pic">
					<a href="{{ .RelPermalink }}">
						{{ $img := .Params.img_url }}
						{{ if strings.HasPrefix $img "http://" -}}
							<!-- 外链图片 -->
							<img class="landscape" src="{{ $img }}">
						{{ else if strings.HasPrefix $img "https://" -}}
							<!-- 外链图片 -->
							<img class="landscape" src="{{ $img }}">
						{{ else -}}
							<!-- 内链图片 -->
							<img class="landscape" src="{{ $.Site.BaseURL }}/{{ $img }}">
						{{ end }}
					</a>
				</div>
				<div class="grid-content">
					<div class="post-meta">
						<p>{{ .Params.types }}</p>
					</div>
					<h3>
						<a href="{{ .RelPermalink }}">
						{{ .Params.title }}
						</a>
					</h3>
					<p class="post-abstract">{{ .Params.abstract }}</p>
				</div>
			</article>
			{{ end }}
		{{ end }}

		<!-- manual select second one -->
		{{ range .Data.Pages }}
			{{ if eq .Params.selectedInFirstPage 2 }}
			<article class="second-grid">
				<div class = "second-grid-pic">
					<a href="{{ .RelPermalink }}">
						{{ $img := .Params.img_url }}
						{{ if strings.HasPrefix $img "http://" -}}
							<!-- 外链图片 -->
							<img class="landscape" src="{{ $img }}">
						{{ else if strings.HasPrefix $img "https://" -}}
							<!-- 外链图片 -->
							<img class="landscape" src="{{ $img }}">
						{{ else -}}
							<!-- 内链图片 -->
							<img class="landscape" src="{{ $.Site.BaseURL }}/{{ $img }}">
						{{ end }}
					</a>
				</div>
				<div class="grid-content">
					<div class="post-meta">
						<p>{{ .Params.types }}</p>
					</div>
					<h3>
						<a href="{{ .RelPermalink }}">
						{{ .Params.title }}
						</a>
					</h3>
					<p class="post-abstract">{{ .Params.abstract }}</p>
				</div>
			</article>
			{{ end }}
		{{ end }}

		<!-- manual select 3rd one -->
		{{ range .Pages.ByPublishDate.Reverse }}
			{{ if eq .Params.selectedInFirstPage 3 }}
			<article class="second-grid">
				<div class = "second-grid-pic">
					<a href="{{ .RelPermalink }}">
						{{ $img := .Params.img_url }}
						{{ if strings.HasPrefix $img "http://" -}}
							<!-- 外链图片 -->
							<img class="landscape" src="{{ $img }}">
						{{ else if strings.HasPrefix $img "https://" -}}
							<!-- 外链图片 -->
							<img class="landscape" src="{{ $img }}">
						{{ else -}}
							<!-- 内链图片 -->
							<img class="landscape" src="{{ $.Site.BaseURL }}/{{ $img }}">
						{{ end }}
					</a>
				</div>
				<div class="grid-content">
					<div class="post-meta">
						<p>{{ .Params.types }}</p>
					</div>
					<h3>
						<a href="{{ .RelPermalink }}">
						{{ .Params.title }}
						</a>
					</h3>
					<p class="post-abstract">{{ .Params.abstract }}</p>
				</div>
			</article>
			{{ end }}
		{{ end }}

		<!-- other reverse sorted by time -->
		{{ with .Site.GetPage "section" "news" }}
			{{ range .Data.Pages }}
				{{ if and (and (ne .Params.selectedInFirstPage 2) (ne .Params.selectedInFirstPage 1)) (ne .Params.selectedInFirstPage 3)}}
				
				<article class="small-grid auto-height">
					<div class = "small-grid-pic">
						<a href="{{ .RelPermalink }}">
							{{ $img := .Params.img_url }}
							{{ if strings.HasPrefix $img "http://" -}}
								<!-- 外链图片 -->
								<img class="landscape" src="{{ $img }}">
							{{ else if strings.HasPrefix $img "https://" -}}
								<!-- 外链图片 -->
								<img class="landscape" src="{{ $img }}">
							{{ else -}}
								<!-- 内链图片 -->
								<img class="landscape" src="{{ $.Site.BaseURL }}/{{ $img }}">
							{{ end }}
						</a>
					</div>
					<div class="small-grid-content small-news-content">
						<div class="post-meta">
							<p>{{ .Params.types }}</p>
						</div>
						<h3>
							<a href="{{ .RelPermalink }}">
							{{ .Params.title }}
							</a>
						</h3>
					</div>
				</article>
				{{ end }}
			{{ end }}
		{{ end }}
		
	</div>
</section>

</section>
</div>
{{ end }}