{{ define "main" }}
<div class="topdown-main">
<!-- Event -->
<section class="panel-white"> 
	<header>
	  <h2 class="section-title">About ACSA</h2>
	  <!-- <p class="section-subtitle">Driving discoveries vital to our world, our health, and our intellectual life</p> -->
	</header>
	<section class="panel-white"> 
		<div class="about-joinus">
			<h3>Join Us!</h3>

			<div class="joinus-text">
				Thanks for your interest!
				<br>
				We are always eager to have energetic and passionate researchers (postdocs, graduate students, undergraduates, and research associates) join us!
				<br>
				If you are interested in joining the lab, please send your CV and a short description of your research interests to us!
				<br>
			</div>
			

			<ul>
				<li>If you're interested in Computer Science!</li>
				<li>If you're interested in High Performance Computing!</li>
				<li>If you'd like to get in touch with the most powerful machines in the world!</li>
				<li>If you want to keep learning and keep growing!</li>
			</ul>

		</div>
	</section>

	<section class="panel-fog about-back"> 
		<div class="about-joinus">
			<h3>Visit</h3>
			
			<b>New Laboratory Location</b>: Room 705,706, Xingzhi Building, University of Science and Technology of China, Hefei, Anhui, 230026, P.R.China.
			<br>

			<b>Old Laboratory Location</b>: Room 1411, Science & Technology Laboratory Building, University of Science and Technology of China, Hefei, Anhui, 230026, P.R.China.

			<br>
			<br>
			{{- partial "qqMap.html" . -}}



		</div>
	</section>

	<section class="panel-white"> 
		<div class="about-joinus">
			<h3>Contact</h3>
			<ul>
				<li>Hefei, Anhui 230027, China</li>
				<li>Phone: 0551-3600839/0551-3603583</li>
				<li>Email: han@ustc.edu.cn</li>
			</ul>

		</div>
	</section>
	





  </section>
</div>
{{ end }}