<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ site.BaseURL }}/css/style1NavFooter.css">
    <link rel="stylesheet" type="text/css" href="{{ site.BaseURL }}/css/style2Home.css">
    <link rel="stylesheet" type="text/css" href="{{ site.BaseURL }}/css/style3People.css">
    <link rel="stylesheet" type="text/css" href="{{ site.BaseURL }}/css/style4Publications.css">
    <link rel="stylesheet" type="text/css" href="{{ site.BaseURL }}/css/style5News.css">
    <link rel="stylesheet" type="text/css" href="{{ site.BaseURL }}/css/style6Events.css">
    <link rel="stylesheet" type="text/css" href="{{ site.BaseURL }}/css/style7About.css">
    <link rel="stylesheet" type="text/css" href="{{ site.BaseURL }}/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.BaseURL }}/css/APlayer.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ site.BaseURL }}/css/styleBerkeley.min.css"> -->
	<!-- 使用 Go 模板语法创建一个变量 $title，其中包含网站标题和当前页面标题，用于设置网页的标题。 -->
    {{ $title := print .Site.Title " | " .Title }}
	<!-- 如果当前页面是首页（IsHome），则将 $title 设置为只包含网站标题，而不是添加页面标题。 -->
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
</head>