{{ $root := . }}
{{ $filename := .File.BaseFileName }}

{{ if or (eq .Params.cn_level "教授") (eq .Params.cn_level "特任副研究员") }}
	<h1>论文</h1>
{{ else }}
	<h1>一作论文</h1>
{{ end }}

{{ with $root.Site.GetPage "section" "publications" }}
	{{ $currentYear := now.Year }}
	{{ $startYear := 2010 }}
	{{ $Pages := .Data.Pages }}
	{{ range $year := seq $currentYear -1 $startYear  }}
		{{ range $Pages }}
			{{ if eq $year .Params.Year }}
			{{ $page := . }}
			{{ range .Params.FirstAuthor }}
				{{ $words := split . " " }}
				{{ $reversedName := (index $words 0) | printf "%s%s" (index $words 1) }}
				{{ if eq $reversedName $filename }}
					<div class="paper-card">
						<p class="paper-title">{{ $page.Params.title }}</p>
						<span class="paper-FirstAuthor">
							{{ range $page.Params.FirstAuthor }}
								{{ $name := . }}
								{{ $words := split . " " }}
								{{ $reversedName := (index $words 0) | printf "%s%s" (index $words 1) }}
								<!-- {{ $reversedName }} -->
								{{ with $root.Site.GetPage "section" "people" }}
									{{ with .GetPage  $reversedName }}
										<!-- 文件存在的处理逻辑 -->
										<!-- <p>文件存在：{{ $page.Params.cn_name }}</p> -->
										{{ if eq $reversedName $filename}}
											<a href="{{ .Permalink }}" 
												style="color:black">
												{{ $name }}
											</a>,
										{{ else }}
											<a href="{{ .Permalink }}" 
												style="color:rgb(146, 157, 192);">
												{{ $name }}
											</a>,
										{{ end }}
									{{ else }}
										<!-- 文件不存在的处理逻辑 -->
										<!-- <p>文件不存在</p> -->
										{{ $name }},
									{{ end }}
								{{ end }}
							{{ end }}
						</span>
						<span class="paper-OtherAuthors">
							{{ range $page.Params.OtherAuthors }}
								{{ $name := . }}
								{{ $words := split . " " }}
								{{ $reversedName := (index $words 0) | printf "%s%s" (index $words 1) }}
								<!-- {{ $reversedName }} -->
								{{ with $root.Site.GetPage "section" "people" }}
									{{ with .GetPage  $reversedName }}
										<!-- 文件存在的处理逻辑 -->
										<!-- <p>文件存在：{{ $page.Params.cn_name }}</p> -->
										<a href="{{ .Permalink }}" 
											style="color:rgb(146, 157, 192);">
											{{ $name }}
										</a>,
									{{ else }}
										<!-- 文件不存在的处理逻辑 -->
										<!-- <p>文件不存在</p> -->
										{{ $name }},
									{{ end }}
								{{ end }}
							{{ end }}
						</span>
						<div class="paper-ConfJournal">
							{{ $page.Params.ConfJournal }} ({{ $page.Params.ConfJournalAbbr }} {{ $page.Params.Year }})
							{{ $CCFlevel := $page.Params.CCFLevel  }}
							{{ $JournalLabel := $page.Params.JournalLabel  }}
							{{ $OutofCSLabel := $page.Params.OutofCSLabel  }}
							<!-- IsOutofCS: "yes" # 其他领域会议，填yes (比如医疗影响领域会议)
							OutofCSLabel: "医疗影响领域会议" # 医疗影响领域会议 -->
							{{ if eq $page.Params.IsOutofCS "yes" }}
								<b>{{ $OutofCSLabel }}</b> 
							{{ else }}
								{{ with $page.Params.IsAConference }}
									{{ if eq . "yes" }}
										{{ if eq $CCFlevel "A" }}
											<b class="rainbow-text">CCF {{ $CCFlevel }}</b> 
										{{ else if eq $CCFlevel "B" }}
											<b>CCF {{ $CCFlevel }}</b> 
										{{ else }}
											<!-- ignore CCF C -->
										{{ end }}
									{{ else }}
										{{ if eq $CCFlevel "A" }}
											<b class="rainbow-text">{{ $JournalLabel }}</b>
										{{ else if eq $CCFlevel "B" }}
											<b>{{ $JournalLabel }}</b>
										{{ else }}
											<!-- ignore CCF C -->
										{{ end }}										
									{{ end }}
								{{ end }}
							{{ end }}
							{{ with $page.Params.Award }}
								<!-- <b class="radial-gradient-text">{{ . }}</b> -->
								<b style="color:rgb(191, 4, 4);">{{ . }}</b>
							{{ end }}
						</div>
						<div class="paper-multimedia">
							{{ with $page.Params.Link }}
								<a class="icons" href="{{ . | safeHTML }}">
									<i  data-feather="link"></i>
									<!-- <img align="center" src="{{ site.BaseURL }}/images/acm.png" alt="" height="30" width="30"> -->

									<span class="feather-text">DOI</span>
								</a>
							{{ end }}
							{{ with $page.Params.PDF }}
								<a class="icons" href="{{ . | safeHTML }}">
									<i  data-feather="paperclip"></i>
									<!-- <img align="center" src="{{ site.BaseURL }}/images/pdf.png" alt="" height="30" width="30"> -->
									<span class="feather-text">PDF</span>
								</a>
							{{ end }}
							{{ with $page.Params.SLIDE }}
								<a class="icons" href="{{ . | safeHTML }}">
									<i  data-feather="download"></i>
									<!-- <img align="center" src="{{ site.BaseURL }}/images/ppt.png" alt="" height="30" width="30"> -->
									<span class="feather-text">PPT</span>
								</a>
							{{ end }}
							{{ with $page.Params.video }}
								<a class="icons" href="{{ . | safeHTML }}">
									<i  data-feather="video"></i>
									<!-- <img align="center" src="{{ site.BaseURL }}/images/video.png" alt="" height="30" width="30"> -->
									<span class="feather-text">Video</span>
								</a>
							{{ end }}
						</div>
					</div>
				{{ end }}
			{{ end }}
			{{ end }}
		{{ end }}
	{{ end }}
{{ end }}