{{ $root := . }}
{{ $filename := .File.BaseFileName }}


{{ if or (eq .Params.cn_level "教授") (eq .Params.cn_level "特任副研究员") }}
    <!-- <h1>论文</h1> -->
{{ else }}
    <h1>参与项目</h1>
{{ end }}

{{ with $root.Site.GetPage "section" "projects" }}
    {{ range .Data.Pages}}
        {{ $page := . }}
        {{ $combinedMembers := union .Params.leader .Params.members }}

        {{ range $combinedMembers }}
            {{ $words := split . " " }}
            {{ $reversedName := (index $words 0) | printf "%s%s" (index $words 1) }}
            {{ if eq $reversedName $filename }}
                <div class="paper-card">
                    <a href="{{ $page.Permalink }}" style="
                        text-decoration: none;
                        ">
                        <p class="paper-title">{{ $page.Params.title }}</p>
                    </a>
                    <span class="paper-FirstAuthor">
                        {{ range $page.Params.leader }}
                            {{ $name := . }}
                            {{ $words := split . " " }}
                            {{ $reversedName := (index $words 0) | printf "%s%s" (index $words 1) }}
                            <!-- {{ $reversedName }} -->
                            {{ with $root.Site.GetPage "section" "people" }}
                                {{ with .GetPage  $reversedName }}
                                    <!-- 文件存在的处理逻辑 -->
                                    <!-- <p>文件存在：{{ $page.Params.cn_name }}</p> -->
                                    {{ if eq $reversedName $filename}}
                                        <a href="{{ .Permalink }}" 
                                            style="color:black">
                                            {{ $name }}
                                        </a>,
                                    {{ else }}
                                        <a href="{{ .Permalink }}" 
                                            style="color:rgb(146, 157, 192);">
                                            {{ $name }}
                                        </a>,
                                    {{ end }}
                                {{ else }}
                                    <!-- 文件不存在的处理逻辑 -->
                                    <!-- <p>文件不存在</p> -->
                                    <b>{{ $name }}</b>,
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </span>
                    <span class="paper-OtherAuthors">
                        {{ range $page.Params.members }}
                            {{ $name := . }}
                            {{ $words := split . " " }}
                            {{ $reversedName := (index $words 0) | printf "%s%s" (index $words 1) }}
                            <!-- {{ $reversedName }} -->
                            {{ with $root.Site.GetPage "section" "people" }}
                                {{ with .GetPage  $reversedName }}
                                    <!-- 文件存在的处理逻辑 -->
                                    <!-- <p>文件存在：{{ $page.Params.cn_name }}</p> -->
                                    {{ if eq $reversedName $filename}}
                                        <a href="{{ .Permalink }}" 
                                            style="color:black">
                                            {{ $name }}
                                        </a>,
                                    {{ else }}
                                        <a href="{{ .Permalink }}" 
                                            style="color:rgb(146, 157, 192);">
                                            {{ $name }}
                                        </a>,
                                    {{ end }}
                                {{ else }}
                                    <!-- 文件不存在的处理逻辑 -->
                                    <!-- <p>文件不存在</p> -->
                                    {{ $name }},
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </span>
                    <div class="paper-ConfJournal">
                        From {{ $page.Params.start_time }} to 
                        {{ with $page.Params.end_time }}
                            {{ . }}
                        {{ else }}
                            <b>Now</b>
                        {{ end }}
                    </div>

                </div>
            {{ end }}
        {{ end }}
        
    {{ end }}
{{ end }}