<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header-home.html" . -}}
        <div id="content">

{{ with .GetPage "home" }} 
  <div class="topdown-main">
      <div class="home-fisrt-full-page">

          <!-- slogan -->
          <div class="slogan">
            {{ .Params.slogan | safeHTML }}
          </div> 

          <!-- jump-bar -->
          <div class="home-explore-bar">
            <div id="clicksource" class="home-explore-column">
            <a href="#main-content-jump" style="text-decoration: none;" >
              <p class="home-explore-text">
                {{ .Params.explore_text | safeHTML }}<i class="home-explore-arrow" data-feather="chevron-down"></i>
              </p>
            </a>
            </div>
          </div>
      </div>
      
      <div id="main-content-jump" class="home-rest-pages">

          <!-- Admission -->
          <section class="panel-white"> 
            <header>
              <h2 class="section-title">Admission</h2>
            </header>
            <section class="panel-white"> 
              <p class="section-body">
                {{ .Params.ad.text | safeHTML }}
              </p>
            </section>
            <section class="panel-white"> 
              <a href="{{ site.BaseURL }}{{ .Params.ad.button_link | safeHTML }}" class="more-button">
                {{ .Params.ad.button_text | safeHTML }}
              </a>
            </section>
          </section>

          <!-- Lab News -->
          <section class="panel-fog"> 
            <header>
              <h2 class="section-title"> {{ .Params.news.title | safeHTML }}</h2>
              <p class="section-subtitle">{{ .Params.news.subtitle | safeHTML }}</p>
            </header>
            <section class="panel-fog"> 
              <div class="six-grids">

                <!-- first 1 -->
                {{ with .Site.GetPage "section" "news" }}
                  {{ range .Data.Pages }}
                    {{ if eq 1 .Params.selectedInFirstPage }}
                      <article class="big-grid">
                        <a href="{{ .RelPermalink }}">
                          <img class="landscape" src="{{ .Params.img_url }}">
                        </a>
                        <div class="grid-content">
                          <div class="post-meta">
                            <p>{{ .Params.types }}</p>
                          </div>
                          <h3>
                            <a href="{{ .RelPermalink }}">
                              {{ .Params.title }}
                            </a>
                          </h3>
                        </div>
                      </article>
                    {{ end }}
                  {{ end }}
                {{ end }}
                
                <!-- 3,4,5,6 -->
                {{ $root := . }}
                {{ range $order := seq 3 1 6  }}
                  {{ with $root.Site.GetPage "section" "news" }}
                    {{ range .Data.Pages }}
                      {{ if eq .Params.selectedInFirstPage $order }}
                        <article class="small-grid">
                          <div class = "small-grid-pic">
                            <a href="{{ .RelPermalink }}">
                              <img class="landscape" src="{{ .Params.img_url }}">
                            </a>
                          </div>
                          <div class="small-grid-content">
                            <div class="post-meta">
                              <p>{{ .Params.types }}</p>
                            </div>
                            <h3>
                              <a href="{{ .RelPermalink }}">
                                {{ .Params.title }}
                              </a>
                            </h3>
                          </div>
                        </article>
                      {{ end }}
                    {{ end }}
                  {{ end }}
                {{ end }}

              <!-- second -->
              {{ with .Site.GetPage "section" "news" }}
                {{ range .Data.Pages }}
                  {{ if eq .Params.selectedInFirstPage 2 }}
                    <article class="big-grid">
                      <a href="{{ .RelPermalink }}">
                        <img class="landscape" src="{{ .Params.img_url }}">
                      </a>
                      <div class="grid-content">
                        <div class="post-meta">
                          <p>{{ .Params.types }}</p>
                        </div>
                        <h3>
                          <a href="{{ .RelPermalink }}">
                            {{ .Params.title }}
                          </a>
                        </h3>
                      </div>
                    </article>
                  {{ end }}
                {{ end }}
              {{ end }}

              </div>
            </section>

            <section class="panel-fog"> 
              <a href="{{ site.BaseURL }}{{ .Params.news.button_link | safeHTML }}" class="more-button">
                {{ .Params.news.button_text | safeHTML }}
              </a>
            </section>
          </section>

          <!-- Education -->
          {{ if .Param "first3_section" }}
          <section class="panel-white"> 
            <header>
              <h2 class="section-title">{{ .Params.firstThree.title | safeHTML }}</h2>
              <p class="section-subtitle">{{ .Params.firstThree.subtitle | safeHTML }}</p>
            </header>
            <section class="panel-white"> 
              <div class="three-grids">
                {{ range .Params.firstThree.threeGrids }}
                <article class="one-grid">
                  <div class = "one-grid-pic">
                    <a href="">
                      <img class="landscape" src="{{ .img }}">
                    </a>
                  </div>
                  <div class="one-grid-content">
                    <h3>
                      {{ .title }}
                    </h3>
                    <p>{{ .text }}</p>
                    <p class="highlight-link">
                      <a class="jump-link" href="{{ .link }}">
                        {{ .title }}
                        <i class="jump-link-arrow" data-feather="chevron-right"></i>
                      </a>
                    </p>
                  </div>
                </article>
                {{ end }}

              </div>
              <!-- <p class="section-body">本科 研究生 博士交流</p> -->
            </section>
            <section class="panel-white"> 
              <a href="{{ site.BaseURL }}{{ .Params.firstThree.button_link | safeHTML }}" class="more-button">
                {{ .Params.firstThree.button_text | safeHTML }}
              </a>
            </section>
          </section>
          {{  end }}

          <!-- img + TODO:quote -->
          <div class="image-container">
            <img class="big-pic" src="{{ site.Params.Pic.quotePic | absURL}}">
          </div>

          <!-- research -->
          {{ if .Param "second3_section" }}
          <section class="panel-white"> 
            <header>
              <h2 class="section-title">{{ .Params.secondThree.title | safeHTML }}</h2>
              <p class="section-subtitle">{{ .Params.secondThree.subtitle | safeHTML }}</p>
            </header>
            <section class="panel-white"> 
              <!-- <p class="section-body">data-bar <br> HPC HPC&AI AI</p> -->
              
              <hr aria-hidden="true">
                <div class="grid-container">
                  {{ range .Params.secondThree.threeFactor }}
                  <figure>
                    {{ . | safeHTML }}
                  </figure>
                  {{ end }}
                </div>
              <hr class="more-margin" aria-hidden="true">

              <div class="three-grids">
                {{ range .Params.secondThree.threeGrids }}
                <article class="one-grid">
                  <div class = "one-grid-pic">
                    <a href="">
                      <img class="landscape" src="{{ .img }}">
                    </a>
                  </div>
                  <div class="one-grid-content">
                    <h3>
                      {{ .title }}
                    </h3>
                    <p>{{ .text }}</p>
                    <p class="highlight-link">
                      <a class="jump-link" href="{{ .link }}">
                        {{ .title }}
                        <i class="jump-link-arrow" data-feather="chevron-right"></i>
                      </a>
                    </p>
                  </div>
                </article>
                {{ end }}
              </div>
             
            </section>
            <section class="panel-white"> 
              <a href="{{ site.BaseURL }}{{ .Params.secondThree.button_link | safeHTML }}" class="more-button">
                {{ .Params.secondThree.button_text | safeHTML }}
              </a>
            </section>
          </section>
          {{  end }}


          <!-- Event -->
          <section class="panel-fog"> 
            <header>
              <h2 class="section-title">Events</h2>
              <!-- <p class="section-subtitle">Driving discoveries vital to our world, our health, and our intellectual life</p> -->
            </header>
            <section class="panel-fog"> 
                <div class="four-grids">
			          {{ $counter := 0 }}    
                {{ with .Site.GetPage "section" "events" }}
	                {{ range .Pages.ByPublishDate.Reverse }}
        					  {{ $counter = add $counter 1 }}
                    {{ if lt $counter 5 }}
                      <article class="quarter-grid">
                        <div class = "quarter-grid-pic">
                          <a href="{{ .RelPermalink }}">
                            {{ with .Params.img_url }}
                              <img class="landscape" src="{{ . }}" alt="src">
                            {{ else }}
                              <img class="landscape" src="{{ site.BaseURL }}/images/{{ .Params.types }}.png" alt="alt">
                            {{ end }}
                          </a>
                        </div>

                        {{ $date := .Params.date | time }}
			                  {{ $formattedDate := $date.Format "3:04 pm" }}

                        <time class="event-short-date" datetime="">
                          <abbr class="month">{{ $date.Format "Jan" }}</abbr>
                          <span class="day">{{ $date.Format "02" }}</span>
                        </time>
                        <div class="small-grid-content">
                          <div class="post-meta">
                            <p>{{ .Params.types }}</p>
                          </div>
                          <h3>
                            <a href="{{ .RelPermalink }}">
                              {{ .Params.abstract | replaceRE "\n" "<br>" | safeHTML }}
                            </a>
                          </h3>
                          <p class="start-time">
                            {{ $formattedDate }} UTC+8
                          </p>
                        </div>
                      </article>
    
                    {{ end }}
                  {{ end }}
                {{ end }}
                </div>
            </section>
            <section class="panel-fog"> 
              <a href="{{ site.BaseURL }}/events" class="more-button">More events</a>
            </section>
          </section>

          <!-- Lab Life -->
          {{ if .Param "life_section" }}
          <section class="panel-white"> 
            <header>
              <h2 class="section-title">{{ .Params.thirdThree.title | safeHTML }}</h2>
              <p class="section-subtitle">{{ .Params.thirdThree.subtitle | safeHTML }}</p>
            </header>
            <section class="panel-white"> 
              <div class="three-grids">
                {{ range .Params.thirdThree.threeGrids }}
                <article class="one-grid">
                  <div class = "one-grid-pic">
                    <a href="">
                      <img class="landscape" src="{{ default "./images/pic-default2.png" .img }}">
                    </a>
                  </div>
                  <div class="one-grid-content">
                    <h3>
                      {{ .title }}
                    </h3>
                    <p>{{ .text }}</p>
                    <p class="highlight-link">
                      <a class="jump-link" href="{{ .link }}">
                        {{ .title }}
                        <i class="jump-link-arrow" data-feather="chevron-right"></i>
                      </a>
                    </p>
                  </div>
                </article>
                {{ end }}

              </div>
              <!-- <p class="section-body">本科 研究生 博士交流</p> -->
            </section>
            <section class="panel-white"> 
              <a href="{{ site.BaseURL }}{{ .Params.thirdThree.button_link | safeHTML }}" class="more-button">
                {{ .Params.thirdThree.button_text | safeHTML }}
              </a>
            </section>
          </section>
          {{  end }}

          <!-- fourthThree -->
          {{ if .Param "last_section" }}
          <section class="panel-fog"> 
            <header>
              <h2 class="section-title">{{ .Params.fourthThree.title | safeHTML }}</h2>
              <p class="section-subtitle">{{ .Params.fourthThree.subtitle | safeHTML }}</p>
            </header>
            <section class="panel-fog"> 
              <div class="three-grids">
                {{ range .Params.fourthThree.threeGrids }}
                <article class="one-grid">
                  <div class = "one-grid-pic">
                    <a href="">
                      <img class="landscape" src="{{ default "./images/pic-default2.png" .img }}">
                    </a>
                  </div>
                  <div class="one-grid-content">
                    <h3>
                      {{ .title }}
                    </h3>
                    <p>{{ .text }}</p>
                    <p class="highlight-link">
                      <a class="jump-link" href="{{ .link }}">
                        {{ .title }}
                        <i class="jump-link-arrow" data-feather="chevron-right"></i>
                      </a>
                    </p>
                  </div>
                </article>
                {{ end }}

              </div>
              <!-- <p class="section-body">本科 研究生 博士交流</p> -->
            </section>
            <section class="panel-fog"> 
              <a href="{{ .Params.fourthThree.button_link | safeHTML }}" class="more-button">
                {{ .Params.fourthThree.button_text | safeHTML }}
              </a>
            </section>
          </section>
          {{  end }}
      </div>
  </div>

<!-- backpic -->
<style>
body {
  margin: 0; /* 重置 body 的默认外边距 */
  padding: 0; /* 重置 body 的默认内边距 */
  height: 100vh; /* 设置 body 的高度为视口高度，确保背景图片充满整个页面 */
  background-image: url("{{ site.Params.Pic.backgroundPic | absURL}}"); /* 替换 'your-background-image.jpg' 为你的背景图片路径 */
  background-position: center center; /* 将背景图片的中心锚定在页面的中心 */
  background-repeat: no-repeat; /* 禁止背景图片重复显示 */
  background-size: cover; /* 使背景图片尽可能地覆盖整个容器 */
  background-attachment: fixed; /* 使背景图片固定在视口中 */
}
</style>
{{ else }}

<br>
<br>
<br>
<br>
<br>
<h1>You need create home.md in Content directory for the presentation of homepage. <br>And config it as the same as the file in exampleSite/content/home.md</h1>
{{ end }}

</div>
{{- partial "footer.html" . -}}
{{- partial "script.html" . -}}
</body>
<style>
body {
  margin: 0; /* 重置 body 的默认外边距 */
}
</style>
</html>
