{{ define "main" }}
<div class="topdown-main">
<!-- Event -->
<section class="panel-fog"> 
	<header>
	  <h2 class="section-title">{{ .Params.title | safeHTML }}</h2>
	  <!-- <p class="section-subtitle">Driving discoveries vital to our world, our health, and our intellectual life</p> -->
	  <p class="section-subtitle">{{ .Params.subtitle | safeHTML }}</p>
	</header>
	<section class="panel-fog full4footer"> 
		<div class="four-grids">

		{{ range .Data.Pages }}

		  <article class="event-grid quarter-grid">
			<div class = "quarter-grid-pic">
			  <a href="{{ .RelPermalink }}">
				{{ with .Params.img_url }}
					{{ $img := . }}
					{{ if strings.HasPrefix $img "http://" -}}
						<!-- 外链图片 -->
						<img class="landscape" src="{{ $img }}">
					{{ else if strings.HasPrefix $img "https://" -}}
						<!-- 外链图片 -->
						<img class="landscape" src="{{ $img }}">
					{{ else -}}
						<!-- 内链图片 -->
						<img class="landscape" src="{{ $.Site.BaseURL }}/{{ $img }}">
					{{ end }}
				{{ else }}
					<img class="landscape" src="{{ site.BaseURL }}/images/{{ .Params.types }}.png" alt="alt">
				{{ end }}

			  </a>
			</div>

			{{ $date := .Params.date | time }}
			{{ $formattedDate := $date.Format "Jan 02, 2006 3:04 pm" }}

			<div class="small-grid-content">
			  <div class="post-meta">
				<p>{{ .Params.types }}</p>
			  </div>
			  <h3>
				<a href="{{ .RelPermalink }}">
					{{ .Params.title }}
				</a>
			  </h3>
			  <p class="start-time">
				<img class="event-icon" src="{{ site.BaseURL }}/images/calendar.png" alt="" height="20" width="20">
				{{ $formattedDate }} UTC+8
			  </p>
			  {{ with .Params.location }}
			  <p class="start-time">
				<img class="event-icon" src="{{ site.BaseURL }}/images/location.png" alt="" height="20" width="20">
				{{ . }}
			  </p>
			  {{ end }}
			  {{ with .Params.onlineLink }}
				<p class="start-time">
					<img class="event-icon" src="{{ site.BaseURL }}/images/zoom.png" alt="" height="20" width="20">
					<a href="{{ . }}">online meeting</a>
				</p>
			  {{ end }}
			  <p class="post-abstract">{{ .Params.abstract | replaceRE "\n" "<br>" | safeHTML }}</p>

			</div>
		  </article>

		{{ end }}
		</div>
	</section>

  </section>
</div>
{{ end }}