{{ define "main" }}
<div class="topdown-main">
		<div class="publications-column full4footer">
			<h1 style="text-align:left; font-size: xx-large;color:black;">{{ .Params.title }}</h1>
			<!-- <p>排版有待调整</p> -->
	
			{{ $root := . }}
			{{ $date := .Params.date | time }}
			{{ $formattedDate := $date.Format "Jan 02, 2006 3:04 pm" }}

		
			<p class="start-time">
				<img class="event-icon" src="{{ site.BaseURL }}/images/calendar.png" alt="" height="20" width="20">
				{{ $formattedDate }} UTC+8
			</p>
			{{ with .Params.location }}
				<p class="start-time">
					<img class="event-icon" src="{{ site.BaseURL }}/images/location.png" alt="" height="20" width="20">
					{{ . }}
				</p>
			{{ end }}
			{{ with .Params.onlineLink }}
			<p class="start-time">
				<img class="event-icon" src="{{ site.BaseURL }}/images/zoom.png" alt="" height="20" width="20">
				<a href="{{ . }}">online meeting</a>
			</p>
			{{ end }}

			<hr aria-hidden="true">
			{{ $root := . }}
	
			<!-- {{  (len .TableOfContents) }} -->

			{{ if  gt (len .TableOfContents) 32  }}
			<div class="sidebar">
				<div class="clickable" style="background-color: #afc8ff;">
					<!-- <img src="/icons/pen-fill.svg" alt="Bootstrap Icons" class="icon"> -->
					<span style="margin: 0 10px;">目录</span>
				</div>
				<div class="hidden" style="background-color: #cfdeff">
					<div class="accordion" id="markdownToc">
						{{ .TableOfContents }}
					</div>
				</div>
				
			</div>
			{{ else }}
				<!-- <p>No table of contents available.</p> -->
			{{ end }}

			{{ .Content }}
		</div>
</div>
{{ end }}