{{ define "main" }}
<div class="topdown-main">
	<div class="publications-column full4footer">
		<h1 style="text-align:left; font-size: xx-large;">论文(部分)</h1>
		<!-- <p>排版有待调整</p> -->

		<hr aria-hidden="true">

		{{ $currentYear := now.Year }}
		{{ $startYear := 2010 }}
		{{ $Pages := .Pages }}
		{{ $root := . }}

		<!-- 2010到今年 -->
		{{ range $year := seq $currentYear -1 $startYear  }}
			{{ $counter := 0 }}
			
			<!-- 每年计数 -->
			{{ range $Pages.ByPublishDate.Reverse }}
				{{ if eq $year .Params.Year }}
					{{ $counter = add $counter 1 }}
				{{ end }}
			{{ end }}

			{{ if gt $counter 0 }}
				<h2>{{ $year }}</h2>
				
				<!-- 打印对应年份的paper, A类优先，会议优先 -->
				{{ $CCFs := slice "A" "B" "C" }}
				{{ $ConfFirst := slice "yes" "no" }}

				{{ range $index, $CCF := $CCFs }}
					{{ range $index, $Conf := $ConfFirst }}
						{{ range $Pages.ByPublishDate.Reverse }}
							{{ if eq $Conf .Params.IsAConference }}
								{{ if eq $CCF .Params.CCFLevel }}
									{{ if eq $year .Params.Year }}
										<div class="paper-bar">
											<div class="paper-card">
												<p class="paper-title">{{ .Params.title }}</p>
												<span class="paper-FirstAuthor">
													{{ range .Params.FirstAuthor }}
														{{ $name := . }}
														{{ $words := split . " " }}
														{{ $reversedName := (index $words 0) | printf "%s%s" (index $words 1) }}
														<!-- {{ $reversedName }} -->
														{{ with $root.Site.GetPage "section" "people" }}
															{{ with .GetPage  $reversedName }}
																<!-- 文件存在的处理逻辑 -->
																<!-- <p>文件存在：{{ .Params.cn_name }}</p> -->
																<a href="{{ .Permalink }}" 
																	style="color:rgb(146, 157, 192);">
																	{{ $name }}
																</a>,
															{{ else }}
																<!-- 文件不存在的处理逻辑 -->
																<!-- <p>文件不存在</p> -->
																{{ $name }},
															{{ end }}
														{{ end }}
													{{ end }}
												</span>
												<span class="paper-OtherAuthors">
													{{ range .Params.OtherAuthors }}
														{{ $name := . }}
														{{ $words := split . " " }}
														{{ $reversedName := (index $words 0) | printf "%s%s" (index $words 1) }}
														<!-- {{ $reversedName }} -->
														{{ with $root.Site.GetPage "section" "people" }}
															{{ with .GetPage  $reversedName }}
																<!-- 文件存在的处理逻辑 -->
																<!-- <p>文件存在：{{ .Params.cn_name }}</p> -->
																<a href="{{ .Permalink }}" 
																	style="color:rgb(146, 157, 192);">
																	{{ $name }}
																</a>,
															{{ else }}
																<!-- 文件不存在的处理逻辑 -->
																<!-- <p>文件不存在</p> -->
																{{ $name }},
															{{ end }}
														{{ end }}
													{{ end }}
												</span>
												<div class="paper-ConfJournal">
													{{ .Params.ConfJournal }} ({{ .Params.ConfJournalAbbr }} {{ .Params.Year }})
													{{ if eq .Params.CCFLevel "A" }}
														<b class="rainbow-text">CCF {{ .Params.CCFLevel }}</b> 
													{{ else }}
														<b>CCF {{ .Params.CCFLevel }}</b> 
													{{ end }}
													{{ with .Params.IsAConference }}
														{{ if eq . "no" }}
														<b>Journal</b>
														{{ end }}
													{{ end }}
													{{ with .Params.Award }}
														<!-- <b class="radial-gradient-text">{{ . }}</b> -->
														<b style="color:rgb(191, 4, 4);">{{ . }}</b>
													{{ end }}
												</div>
												<div class="paper-multimedia">
													{{ with .Params.Link }}
														<a class="icons" href="{{ . | safeHTML }}">
															<i  data-feather="link"></i>
															<!-- <img align="center" src="{{ site.BaseURL }}/images/acm.png" alt="" height="30" width="30"> -->

															<span class="feather-text">DOI</span>
														</a>
													{{ end }}
													{{ with .Params.PDF }}
														<a class="icons" href="{{ . | safeHTML }}">
															<i  data-feather="paperclip"></i>
															<!-- <img align="center" src="{{ site.BaseURL }}/images/pdf.png" alt="" height="30" width="30"> -->
															<span class="feather-text">PDF</span>
														</a>
													{{ end }}
													{{ with .Params.SLIDE }}
														<a class="icons" href="{{ . | safeHTML }}">
															<i  data-feather="download"></i>
															<!-- <img align="center" src="{{ site.BaseURL }}/images/ppt.png" alt="" height="30" width="30"> -->
															<span class="feather-text">PPT</span>
														</a>
													{{ end }}
													{{ with .Params.video }}
														<a class="icons" href="{{ . | safeHTML }}">
															<i  data-feather="video"></i>
															<!-- <img align="center" src="{{ site.BaseURL }}/images/video.png" alt="" height="30" width="30"> -->
															<span class="feather-text">Video</span>
														</a>
													{{ end }}
												</div>
											</div>
										</div>
										<br>
									{{ end }}
								{{ end }}
							{{ end }}
						{{ end }}
					{{ end }}
				{{ end }}
			{{ end }}
		{{ end }}
	
		{{ range .Pages.ByPublishDate.Reverse }}
			
		{{ end }}
	</div>
</div>
{{ end }}